html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --index: calc(1vw + 1vh);
}
/* -------------------- basic -------------------- */
@font-face {
  src: url(fonts/Poppins-600.ttf);
  font-family: "Poppins";
}
h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 104.5%;
}
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 104.5%;
}
h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 104.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 157%;
  color: #3c0e0e;
  background-color: #f7f2e8;
  position: relative;
}
button {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 100%;
  margin: 0 150px;
}
/* -------------------- basic /-------------------- */

/* -------------------- header -------------------- */
.header {
  padding-top: 20px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-name {
  margin: 0 40px;
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 500;
}
.logo {
  width: 95px;
  height: 81px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu__item--active {
  border-bottom: solid 5px #3c0e0e;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__btn {
  color: #fff;
  font-size: 20px;
  border-radius: 40px;
  background: #431b1b;
  padding: 7px 23px;
  border: none;
  width: 152px;
  height: 48px;
}
.header__btn-menu {
  display: none;
}
.header__btn-menu--event {
  color: #f7f2e8;
  background-color: #3e2222;
  width: 100%;
  height: 100%;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 5;
  padding: 10px 15px;
  transition: all 0.5s;
}
.open {
  right: 0 !important;
}
.header__btn-menu-header {
  border-bottom: 1px solid #f7f2e8;
  z-index: 6;
  margin-bottom: 5px;
}
.header__btn-menu--x {
  text-align: right;
}
.header__btn-menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
/* -------------------- header /-------------------- */

/* -------------------- main -------------------- */
.main__inner {
  width: 351px;
  margin-top: 50px;
}
.main-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.main h1 {
  margin-bottom: 20px;
}
.main-img {
  position: absolute;
  top: 0;
  right: 150px;
  z-index: -1;
}
.main-img2 {
  display: none;
}
/* -------------------- main /-------------------- */

/* -------------------- sections -------------------- */
.bg {
  position: absolute;
  z-index: -1;
  width: 15%;
}
/* --------------- cafes --------------- */
.cafes {
  margin-top: 180px;
  text-align: center;
  position: relative;
}
.cafes__title {
  font-weight: 600;
}
.cafes__decore {
  width: 65.478px;
  height: 1px;
  background: #3c0e0e;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 15px;
}
.cafes__text {
  width: 540px;
  margin: auto;
  margin-bottom: 30px;
}
.cafes__link {
  display: block;
  font-weight: 600;
  margin-bottom: 50px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin: auto;
}
.products__item {
  border-radius: 48px;
  padding: 30px;
  min-height: 470px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products__item--1 {
  background: linear-gradient(203deg, #f6c7c5 4.72%, #c27d7a 102.83%);
}
.products__item--2 {
  background: linear-gradient(
    203deg,
    rgba(250, 250, 250, 0.95) 4.72%,
    rgba(84, 21, 17, 0.58) 102.83%
  );
}
.products__item--3 {
  background: linear-gradient(
    203deg,
    rgb(17, 15, 15) 4.72%,
    rgb(80, 25, 21) 102.83%
  );
}
.price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.product-name {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 21px;
  line-height: 130%;
}
.product-text {
  font-size: 14px;
  margin-bottom: 30px;
}
.product-btn {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.25);
  border: none;
  width: 100%;
  padding: 13px;
  min-height: 50px;
}
.cafes__bg-left,
.cafes__bg-right {
  top: 0;
}
.cafes__bg-left {
  left: 0;
}
.cafes__bg-right {
  right: 0;
}
/* --------------- cafes /--------------- */

/* --------------- croissants --------------- */
.croissants {
  margin-top: 100px;
  margin-bottom: 130px;
}
.croissants__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.croissants__info {
  width: 490px;
}
.croissants__price {
  color: #f9c4c4;
  border-radius: 47px;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  width: 109.556px;
  height: 39.512px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.croissants-decore {
  width: 48.594px;
  height: 1px;
  background: #3c0e0e;
  margin-bottom: 15px;
  margin-bottom: 18px;
}
.croissants h3 {
  font-weight: 500;
  margin-bottom: 13px;
}
.croissants p {
  width: 308px;
}
.croissants a {
  font-weight: 600;
}
.a2 {
  display: none;
}
/* --------------- croissants /--------------- */

/* --------------- delivery --------------- */
.delivery {
  margin-bottom: 180px;
  color: #fff;
}
.delivery__inner {
  border-radius: 48px;
  background: linear-gradient(
    203deg,
    rgba(243, 199, 196, 0.95) 4.72%,
    rgba(84, 21, 17, 0.95) 81.94%
  );
  height: 368.727px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.delivery__img {
  margin-bottom: 20px;
  position: relative;
  bottom: 40px;
  left: 0;
  max-width: 589.865px;
  max-height: 379.14px;
}
.delivery__info {
  text-align: right;
  padding-right: 30px;
}
.delivery__title {
  margin-bottom: 20px;
}
.delivery__text {
  margin-bottom: 60px;
}
.delivery-btn {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.25);
  border: none;
  width: 70%;
  padding: 13px;
  min-height: 50px;
}
/* --------------- delivery /--------------- */

/* --------------- sobre --------------- */
.sobre {
  position: relative;
  margin-bottom: 100px;
}
.sobre .bg {
  width: 20%;
}
.sobre__inner {
  display: flex;
  justify-content: space-around;
}
.sobre__left {
  width: 450px;
}
.sobre__right {
  width: 340px;
}
.sobre__title {
  font-size: 20px;
  font-weight: 500;
}
.sobre__text-name {
  font-weight: 700;
  margin-bottom: 28px;
}
.sobre__text {
  margin-bottom: 20px;
}
.sobre__bg-left,
.sobre__bg-right {
  bottom: 0;
}
.sobre__bg-left {
  left: 0;
}
.sobre__bg-right {
  right: 0;
}
/* --------------- sobre /--------------- */

/* --------------- enjoy --------------- */
.enjoy {
  margin-bottom: 100px;
  color: #fff;
  position: relative;
}
.enjoy__inner {
  display: flex;
  justify-content: space-between;
  border-radius: 48px;
  background: linear-gradient(
    203deg,
    rgba(84, 21, 17, 0.66) 4.72%,
    #f3c7c4 102.83%
  );
}
.enjoy__left {
  padding: 52px 0 61px 42px;
  width: 363px;
}
.enjoy__left-decore {
  background: #fff;
  height: 1px;
  width: 51.41px;
  margin-top: 17px;
  margin-bottom: 17px;
}
.enjoy__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 17px;
}
.enjoy__link {
  display: block;
  color: #3c0e0e;
  font-weight: 600;
  margin-top: 30px;
}
.enjoy__left-img {
  position: absolute;
  right: 380px;
  bottom: -30px;
}
.enjoy__right {
  padding: 33px 30px;
  border-radius: 0px 48px 48px 0px;
  background: linear-gradient(203deg, #8f423d 4.72%, #fff 102.83%);
  width: 373px;
}
.enjoy__right h3 {
  margin-bottom: 38px;
}
.enjoy__right-decore {
  width: 281.353px;
  height: 1px;
  background: #fff;
  margin-bottom: 25px;
}
.enjoy__right p {
  margin-bottom: 20px;
  width: 283px;
}
.adress {
  display: flex;
  gap: 20px;
  align-items: center;
}
/* --------------- enjoy /--------------- */
/* -------------------- sections /-------------------- */

/* -------------------- footer -------------------- */
.footer {
  padding-bottom: 80px;
  color: rgba(60, 14, 14, 0.68);
}
.footer__inner {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
.footer__name {
  color: #282828;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}
.footer__info {
  width: 304px;
}
.footer__info p {
  margin-bottom: 25px;
}
.footer__inst span {
  display: flex;
}
.footer__inst {
  width: 284px;
}
.footer__p {
  font-weight: 500;
}
/* -------------------- footer /-------------------- */
